body{

	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
}

#about, #skills, #contact {

	height: 700px;
}

/*GRID*/

.full-width {

	width: 1200px;
	margin: 0 auto;
}

.half-width {

	width: 600px;
	float: left;
}

.third-width {

	width: 400px;
	float: left;
}
/*HEADER*/

header {

	height: 800px;
	background: 
	  linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
	  url("../img/desktop-cropped.jpg") no-repeat center;
	background-size: cover;
	background-blend-mode: darken;
}

header h1{

	padding: 65px 0 65px 65px;
	font-family: 'Lora', bold;
	font-size: 30px;
	color: white;
}

nav {

	float: right;
	padding: 75px 25px;
}

nav ul li{

	display: inline-block;
}

nav ul li a {

	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px ;
	color: white;
	padding-left: 80px;
}

header h2 {

	width: 1000px; 
	clear: both;
	font-family: 'Lora', bold;
	font-size: 65px;
	line-height: 80px;
	color: white;
	padding: 20px 0 20px 25px;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

header p {
 border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
 /* font-family: 'Source Code Pro', monospace;*/  
  font-size: 75px;
  color: #00ff00;
  letter-spacing: 3px;S
  
 }

/* Animation */
header p {
  animation: animated-hello 3.5s steps(29,end) 1s 1 normal both,
             animated-cursor 0.9s steps(29,end) infinite;
}

/* text animation */

@keyframes animated-hello{
  from{width: 0;}
  to{width: 500px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

/*ABOUT*/

#about .full-width {

	padding: 65px 0;
}

#about h2 {

	font-family: 'Lora', bold;
	font-size: 36px;
	padding-left: 65px;
}

#about p {

	font-size: 21px;
	color: #7f7f7f;
	line-height: 40px;
	padding-left: 50px;
	padding-right: 50px;
}

/*SKILLS*/

#skills {

	background: black;
	text-align: center;
	border: 3px solid #00ff00;
}

#skills .full-width {

	padding: 115px 0;
}

#skills img {

	padding-bottom: 30px;
}

#skills h3 {

	font-size: 24px;
	line-height: 30px;
	width: 190px;
	margin: 0 auto;
	color: white;
}

#skills p {

	font-family: 'Lora', sans-serif;
	font-size: 18px;
	line-height: 25px;
	padding: 0 50px;
	color: white;

}

/*CONTACT*/

#contact {

	background: #ebebeb;
}

#contact .full-width {

	padding: 110px 0;
}

#contact img#contact-img {
	margin-left: 25px;
	border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {

	padding-left: 115px;
}

#contact #envelope {

	padding: 0 10px 0 115px;
}

#contact h2 {

	font-family: 'Lora', bold;
	font-size: 36px;
	line-height:40px;
}

#contact #email-header {

	font-size: 32px;
	font-weight: normal;
	line-height: 40px;
	margin: -30px 0 5px 0;
}

#contact #socialmedia-header {

	font-weight: bold;
	font-size: 29px;
	line-height: 40px;
	margin: 40px 0 0 0;
}

#contact a {
	text-decoration: none;
	color: #c49075;
	font-weight: bold; 
	font-size:28px;
}

#contact ul {

	list-style: none;
}

#contact ul li {

	display: inline-block;
}

#contact ul img {

	font-size: 32px;
	padding-right: 80px;
}